BETTER_AUTH_SECRET="hjbduijbgikgbdi"
RESEND_API_KEY="uijsvbdfugigbiksubgiu"
TAVILY_API_KEY="kbgdsuifgbuigsiufgd"
GEMINI_API_KEY="jugbiefhguigbfigi"
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"
